[package]
name = "benchmarks"
version = "0.1.0"
edition = "2024"

[dependencies]
ahash = "0.8.12"
rand = "0.9.2"

[dev-dependencies]
criterion = { version = "0.7", features = ["html_reports"] }

[[bench]]
name = "my_benchmark"
harness = false
